/* Custom Stylesheet */
/**
 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 *
 * Made By MaterializeCSS.com
 */

.icon-block {
  padding: 0 15px;
}
.icon-block .material-icons {
	font-size: inherit;
}

.vertically-aligned {
    margin: 0px;
	padding:0px;
	float: left;
	width:100%;
	position:absolute;
	top: 50%;
	transform: translateY(-50%) translateX(-50%);
	left:50%;
}